<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brian Tran | Personal Website</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/script.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a class="navlogo" href="/index.html">Brian Tran</a></li>
            <li><a class="navbutton" href="/#about">About</a></li>
            <li><a class="navbutton" href="/#projects">Projects</a></li>
            <li><a class="navbutton" href="/#contact">Contact</a></li>
            <li><a class="navbutton" href="/blog.html">Blog</a></li>
        </ul>
    </nav>
</body>
</html>